﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />


    <title>SignIn</title>
</head>
<body>
    <div class="container">


        <form action="/Login/SignIn" method="post">

            <table class="table table-borderless">

                <tbody>
                    <tr>

                        <td>
                            <div class="form-group">
                                <label for="Name">UserName</label>
                                <input type="text" name="UserName" class="form-control" />
                            </div>


                        </td>
                    </tr>
                    <tr>

                        <td>
                            <div class="form-group">
                                <label for="Name">Password</label>
                                <input type="password" name="Password" class="form-control" />
                            </div>


                        </td>
                    </tr>

                    <tr>

                        <td>
                            <input type="submit" name="btn-login" value="Sign In" class="btn btn-success" />
                        </td>
                    </tr>

                </tbody>
               
            </table>

            <div style="color:orangered">
                @ViewBag.ErrorMessage
            </div>


        </form>



    
    </div>
</body>
</html>
