﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}


<form action="/Home/Edit" method="post">

    <div class="form-group">
        <label for="No">Employee No </label>
        <input type="hidden" name="No" value="@Model.No" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Name">Employee Name </label>
        <input type="text" name="Name" value="@Model.Name" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Address"> Employee Address</label>
        <input type="text" name="Address" value="@Model.Address" class="form-control" />
       
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Update Record</button>
        <button type="reset" class="btn btn-danger" style="margin-left: 50px">Cancel</button>
      
    </div>


</form>
