﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}


<div class="card">

    <div class="card-body">

        <a href="/Home/Create" class="btn btn-outline-primary float-right">Register New Employee</a>

        <table class="table table-hover">
           
            <thead>
                <tr>
                    <th>No </th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Action </th>
                </tr>
            </thead>
            <tbody>
               @foreach (var emp in Model)
               {
                <tr>
                    <td>@emp.No </td>
                    <td>@emp.Name </td>
                    <td>@emp.Address </td>
                    <td>
                        <a href="/Home/Edit/@emp.No" class="btn btn-warning">Edit</a>
                        <a href="/Home/Delete/@emp.No" class="btn btn-danger" style="margin-left: 30px">Delete</a>
                    </td>

                </tr>

               }
            </tbody>
        </table>

    </div>

</div>