﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EMployee list</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">

  <a href = "/Test/Create" class="btn btn-outline-success " style="margin:20px"> Add new Employee </a>


      
      

        <div class="col-md-12">
            <legend>Employee table </legend>
            <table class="table table-bordered">

                <thead>
                    <tr>
                        <th> No   </th>
                        <th> Name</th>
                        <th> Address</th>
                        <th>Action</th>
                    </tr>

                </thead>
                <tbody>

                    
                   @foreach (var emp in Model)
                    {
                        <tr>
                            <td> @emp.No  </td>
                            <td> @emp.Name</td>
                            <td> @emp.Address</td>
                            <td>

                                <a href="/Test/Edit/@emp.No" class="btn btn-warning">Edit</a>
                                <a href="/Test/Delete/@emp.No" class="btn btn-danger" style="margin-left: 10px">Delete</a>


                            </td>
                        </tr>

                    }

                </tbody>

            </table>


        </div>




    </div>
</body>
</html>
