﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    


        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">My App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Index" style="margin-right:60px">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/About" style="margin-right:60px">About Us</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Contact" style="margin-right:60px">Contact</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Create" style="margin-right:60px">Register New Employee </a>
                    </li>
                    @if (@ViewBag.Username != "")
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Login/SignOut" style="margin-right:100px">@ViewBag.Username Logout </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Login/SignIn" style="margin-right:100px">Log In </a>
                        </li>
                    }


                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
          
        

        <div class="container-fluid">

            <div class="row">

                <div class="col-md-2 border">
                     <h4>Left Side </h4>
                </div>
                <div class="col-md-8 border">
                    <h4  style="text-align : center">@ViewBag.MyMessage</h4>

                    @RenderBody()
                </div>
                <div class="col-md-2 border">
                    <h4>Right Side </h4>
                </div>

            </div>




        </div>
     
         <div class="card-footer" style="background-color: gainsboro">
             
         </div>

</body>
</html>
